version: "3.9"

services:
  db:
    image: postgres:16
    container_name: wallet_db
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - wallet_postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: wallet_api
    restart: always
    env_file: .env
    depends_on:
      - db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      UVICORN_PORT: ${UVICORN_PORT}
    ports:
      - "${UVICORN_PORT}:${UVICORN_PORT}"
    command: >
      sh -c "
      until pg_isready -h ${POSTGRES_HOST} -p ${POSTGRES_PORT}; do
        echo 'Waiting for PostgreSQL...';
        sleep 1;
      done;
      alembic upgrade head &&
      uvicorn app.main:app --host 0.0.0.0 --port ${UVICORN_PORT}
      "

volumes:
  wallet_postgres_data:
