services:
  api:
    build: .
    container_name: auth_api
    restart: always
    env_file: .env
    networks:
      - microservices_net
    environment:
      POSTGRES_HOST: postgres
    command: >
      sh -c "
      export PGPASSWORD=${POSTGRES_PASSWORD};
      until pg_isready -h ${POSTGRES_HOST} -p ${POSTGRES_PORT}; do
        echo 'Waiting for PostgreSQL...';
        sleep 1;
      done;
      psql -h ${POSTGRES_HOST} -U ${POSTGRES_USER} -tc \"SELECT 1 FROM pg_database WHERE datname='${POSTGRES_DB}'\" | grep -q 1 || psql -h ${POSTGRES_HOST} -U ${POSTGRES_USER} -c \"CREATE DATABASE ${POSTGRES_DB}\";
      
      uv run alembic upgrade head &&
      uv run uvicorn app.main:app --host 0.0.0.0 --port ${UVICORN_PORT}
      "
    ports:
      - "${UVICORN_PORT}:${UVICORN_PORT}"

networks:
  microservices_net:
    external: true